
a{
	text-decoration: none;
}
/*body{
	background: url(../img/bc.png) no-repeat;
	background-size: 100% 100%;
}*/
.text h2{
	text-indent: 2em;
	border-bottom: 1px solid #D0D0D0;
	padding-bottom: 10px;
}
.wrap-form{
	margin: 0 auto;
	width: 1000px;
	height: 600px;
	
}
.form-left{
	padding-left: 35px;
	float: left;
	width: 465px;
}
.form-right{
	padding-left: 35px;
	float: left;
	width: 465px;
}
.form-group{
	margin: 15px 0;
	width:450px ;
}
.form-group label{
	display: inline-block;
  	width: 74px;
}
.form-control{
	display: inline-block;
  width: 55%;
  height: 27px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  resize: none;
}
textarea.form-control {
  height: auto;
}
select.form-control{
	height: 34px;
	width: 69%;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.btn-group{
	padding-left:-3px;
}
.btn-success {
  color: #fff;
  background-color: #0099CC;
  border-color: #4cae4c;
}
.btn-primary{
	  color: #333;
  background-color: #fff;
  border-color: #737373;
}
.btn {
  margin-bottom: 0;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  /* border: 1px solid transparent; */
  border-radius: 4px;
}
.submit-btn {
  border: 0;
  width: 150px;
  height: 30px;
  color: white;
  font-size: 16px;
  font-family: Microsoft Yahei;
  margin-left: 0;
  margin-top: 30px;
  /* display: none; */
  display: inline-block;
}
.cacnel-btn{
	 border: 0;
  width: 150px;
  height: 30px;
  color: #333;
  font-size: 16px;
  font-family: Microsoft Yahei;
  margin-left: 52px;
  margin-top: 30px;
  /* display: none; */
  display: inline-block;
}
.submit-btn:hover {
  color: #fff;
  background-color: #0066CC;
  border-color: #398439;
}
.cacnel-btn:hover{
	color: #fff;
	background-color: #737373;
}
.successimg{
	  margin: 0 auto;
	  margin-top: 77px;
	  display: block;
	  width: 200px;
	  height: auto;
}
.successinfo{
	color: #0099CC;
	text-align: center;
}
